* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
}
.main {
  background: url(./image/banner.jpg) no-repeat center center;
  height: 870px;
  opacity: 0.9;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-around;
}
#box01 {
  font-size: 2.5rem;
}
.Box-1 {
  height: 35px;
  margin-top: 40px;
  padding-right: 450px;
}
.Box-2 {
  display: flex;
  gap: 30px;
  padding-top: 40px;
}
select {
  height: 35px;
  width: 150px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: large;
  opacity: 0.7;
}
.Box-3 {
  background-color: red;
  color: white;
  height: 35px;
  width: 90px;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: large;
  text-align: center;
}
.Box01 {
  color: white;
  text-align: center;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  padding-top: 205px;
}
.Box01-A {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-family: Helvetica, sans-serif;
  padding-top: 15px;
}
.Box01-B {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-family: Helvetica, sans-serif;
  padding-top: 15px;
}
.Box01-C {
  text-align: center;
  padding-top: 20px;
  display: flex;
  gap: 9px;
  justify-content: center;
}
.Box01-D {
  height: 61px;
  width: 458px;
  border-radius: 7px;
  opacity: 0.7;
  background-color: black;
  color: white;
  font-size: larger;
  padding-left: 20px;
}
button {
  width: 240px;
  border-radius: 7px;
  background-color: red;
  color: white;
  font-size: xx-large;
}
.Main02 {
  height: 10px;
  background-color: rgb(48, 47, 47);
}
.Container02 {
  height: 720px;
  background-color: black;
  opacity: 0.9;
}
.Content02 {
  display: flex;
  justify-content: space-around;
}
.Box02-A {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  padding-top: 250px;
}
.Box02-B {
  color: white;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
}
.Box02-C {
  padding-top: 120px;
}
#imgbox-02 {
  height: 350px;
}
.main03 {
  height: 10px;
  background-color: rgb(48, 47, 47);
}
.Conatiner03 {
  height: 720px;
  background-color: black;
  opacity: 0.9;
}
.Content03 {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.Box03-A {
  padding-top: 110px;
}
.Box03-C {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  padding-top: 250px;
}
.Box03-D {
  color: white;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
}
.main04 {
  height: 10px;
  background-color: rgb(48, 47, 47);
}
.Container04 {
  height: 720px;
  background-color: black;
  opacity: 0.9;
}
.Content04 {
  display: flex;
  justify-content: space-around;
}
.Box04-B {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  padding-top: 250px;
}
.Box04-C {
  color: white;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
}
.Box04-D {
  padding-top: 140px;
}
.main05 {
  height: 10px;
  background-color: rgb(48, 47, 47);
}
.Container05 {
  height: 720px;
  background-color: black;
  opacity: 0.9;
}
.Content05 {
  display: flex;
  justify-content: space-around;
}
.Box05-A {
  padding-top: 150px;
}
.Box05-C {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  padding-top: 250px;
}
.Box05-D {
  color: white;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
}
.main06 {
  height: 10px;
  background-color: rgb(48, 47, 47);
}
.Container06 {
  background-color: black;
  opacity: 0.9;
}
.Box06-A {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  text-align: center;
  padding-top: 50px;
}
.Box06-B {
  text-align: center;
  padding-top: 30px;
}
.Box06-C,
.Box06-D,
.Box06-E,
.Box06-F,
.Box06-G,
.Box06-H {
  height: 60px;
  width: 820px;
  color: rgb(84, 82, 82);
  background-color: rgb(48, 47, 47);
  opacity: 0.8;
  font-size: 22px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
  padding-left: 40px;
  text-align: start;
  margin-top: 10px;
}
.box-main01,.box-main02,.box-main03,.box-main04,.box-main05,.box-main06{
  display: none;
}

.set{
  position: absolute;
  font-size: 60px;
  right: 285px;
}
.Box06-DA {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.Box06-EA {
  text-align: center;
  padding-top: 20px;
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 50px;
}
.Box06-FB {
  height: 75px;
  width: 480px;
  border-radius: 7px;
  opacity: 0.9;
  background-color: black;
  color: white;
  font-size: larger;
  padding-left: 20px;
}
.button01 {
  width: 240px;
  border-radius: 7px;
  background-color: red;
  color: white;
  font-size: xx-large;
}
.main07 {
  height: 10px;
  background-color: rgb(48, 47, 47);
}
footer {
  height: 535px;
}
a {
  color: rgb(199, 192, 192);
  font-size: x-large;
}
.Box07-A {
  padding-left: 169px;
  padding-top: 100px;
}
.Content07 {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.Box07-C {
  height: 45px;
  width: 170px;
  text-align: center;
  background-color: rgb(22, 21, 21);
  color: white;
  border-radius: 8px;
  font-size: x-large;
  opacity: 0.5;
}
.Box07-B .Box07-E {
  padding-top: 20px;
}
.Box07-D {
  font-size: large;
}
.Box07-F .Box07-H {
  font-size: large;
}
.Box07-J {
  font-size: large;
}
.Box07-H {
  font-size: large;
}
.Box07-F {
  font-size: large;
}


/* @media Query */
@media (max-width: 576px) {
  .body {
    overflow: hidden;
  }
  nav {
    justify-content: center;
  }
  #box01 {
    font-size: 25px;
  }
  .Box01-A {
    font-size: 1rem;
  }
  .main {
    width: 705px;
    height: 870px;
  }
  .Box-1 {
    height: 35px;
    margin-top: 40px;
    padding-right: 160px;
  }
  .Box01-B {
    font-size: 1rem;
  }
  .Box01-D {
    height: 54px;
    width: 266px;
    border-radius: 9px;
    opacity: 0.7;
    background-color: black;
    color: white;
    font-size: small;
    padding-left: 20px;
  }
  button {
    width: 177px;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-size: large;
    height: 50px;
  }
  #imgbox-02 {
    height: 201px;
    margin-top: 70px;
  }
  .Box02-A {
    font-size: 1.5rem;
  }
  .Box02-B {
    font-size: 0.8rem;
  }
  .Content02 {
    display: flex;
    justify-content: end;
  }
  .Main02 {
    width: 710px;
  }
  .main03 {
    width: 710px;
  }
  .Box03-C {
    font-size: 1.5rem;
    padding-top: 217px;
  }
  .Box03-D {
    font-size: 0.8rem;
  }
  .main04 {
    width: 710px;
  }
  .Box04-B {
    font-size: 1.5rem;
  }
  .Box04-C {
    font-size: 0.8rem;
  }
  .main05 {
    width: 710px;
  }
  .Box05-C {
    font-size: 1.5rem;
  }
  .Box05-D {
    font-size: 0.8rem;
  }
  .Box06-A {
    font-size: 1.5rem;
  }
  .Box06-D {
    font-size: 1rem;
  }
  .Box06-F {
    height: 50px;
  }
  .main06 {
    width: 710px;
  }
  .main07 {
    width: 710px;
  }
  .Content07 {
    padding: 1px;
  }
  .Content04 {
    display: flex;
    justify-content: end;
  }
  .Box07-A {
    padding-bottom: 50px;
    padding-left: 20px;
  }
  .Box07-C {
    height: 30px;
    width: 136px;
    font-size: large;
  }
  .Container06 {
    width: 710px;
  }
  footer {
    width: 710px;
    height: 535px;
  }
}
